.about {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__h2 {
    font-family: $font-display;
    letter-spacing: 0.3rem;
    text-shadow: -0.04rem 0.04rem black;
  }

  &__container {
    display: flex;
    margin: 1rem 1rem 0 1rem;
    justify-content: space-between;
  }

  &__myImage {
    width: 6rem;
    box-shadow: -0.08rem 0.08rem black;
    border-radius: 0.3rem;
  }

  &__p {
    font-family: "Oxanium";
    text-align: justify;
    font-size: 0.7rem;
    width: 70%;
    padding-top: 1rem;
  }

  #blue-planet {
    position: relative;
    width: 15rem;
    right: 7rem;
    top: 1rem;
  }
}

@media screen and (min-device-width: 1024px) {
  .about {

    &__h2 {
      position: relative;
      right: 11rem;
      text-shadow: -0.15rem 0.15rem black;
      letter-spacing: 0.7rem;
      font-size: 3rem;
    }

    &__container {
      display: flex;
      width: fit-content;
      margin: 2rem 0 2rem 10rem;
      justify-content: left;
    }

    &__myImage {
      width: 11rem;
      box-shadow: -0.15rem 0.15rem black;
      border-radius: 0.6rem;
    }

    &__p {
      font-family: "Oxanium";
      text-align: justify;
      font-size: 1.4rem;
      width: 50%;
      padding: 2rem 1.3rem 1.3rem 2rem;
    }

    #blue-planet {
      display: none;
    }
  }
}
