.about {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__p {
    text-align: justify;
    font-size: 0.7rem;
    width: 70%;
    padding-top: 1rem;
  }

  #blue-planet {
    position: relative;
    width: 15rem;
    right: 7rem;
    top: 1rem;
  }
}

@media screen and (min-device-width: 1024px) {
  .about {
    &__container {
      justify-content: space-around;
      align-items: center;
    }

    &__p {
      position: relative;
      font-size: 1.4rem;
      padding-top: 0;
      width: 45%;
      margin-bottom: 2vw;
    }

    #blue-planet {
      display: none;
    }
  }
}
