$font-display: "Unica One", "sans-serif";
$color-highlight: rgb(17, 233, 201);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
}

body {
  background-image: url(space-imgs/space-background-fewer-stars.png);
  background-size: 100%;
  color: white;
  font-family: "Oxanium", "sans-serif";
}

.highlight {
  color: $color-highlight;
}

h2 {
  font-family: $font-display;
  text-shadow: -0.2vw 0.2vw black;
  letter-spacing: 0.8vw;
  font-size: 3rem;
  margin-bottom: 2vw;
}

h3 {
  font-family: $font-display;
  text-shadow: -0.1vw 0.1vw black;
  letter-spacing: 0.6vw;
}

.pContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p {
  background-color: 0d2330;
  font-size: 1.4rem;
  padding-top: 0;
  width: 45%;
  margin-bottom: 2vw;
  text-align: justify;
}

.titleP {
  text-align: left;
}

.endP {
  margin-bottom: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
