$font-display: "Unica One", "sans-serif";
$font-body: "Roboto", "sans-serif";
$color-highlight: #99ffef;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-image: url(space-imgs/space-background-fewer-stars.png);
  background-size: 100%;
  color: white;
}

.highlight {
  color: $color-highlight;
}

h2 {
  font-family: $font-display;
  text-shadow: -0.2vw 0.2vw black;
  letter-spacing: 0.8vw;
  font-size: 3rem;
}

a:link,
a:visited {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
