.contact {
  margin-top: 10%;
  margin-bottom: 1vw;

  &__icon {
    color: white;
    margin: 0 1.2vw;
    font-size: 3.125rem;
  }

  &__icon:hover {
    color: $color-highlight;
    transition: 0.2s;
  }
}
