.landing {
  font-family: $font-display;

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  overflow: hidden;

  &__h1 {
    font-size: 6rem;
    letter-spacing: 0.3rem;
    text-shadow: -0.08rem 0.08rem black;
    margin-top: 9rem;
  }

  &__h2 {
    text-shadow: -0.04rem 0.04rem black;
    letter-spacing: 0.3rem;
  }

  &__image {
    z-index: -1;
  }

  #saturn-1 {
    display: none;
  }

  #comet {
    position: relative;
    bottom: 12rem;
    left: 0.5rem;
    width: 95%;
  }

  #big-planet {
    position: relative;
    bottom: 2rem;
    left: 10rem;
    width: 80%;
  }
}

@media screen and (min-device-width: 1024px) {
  .landing {
    font-family: $font-display;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    align-items: center;
    overflow: hidden;
    margin-bottom: -25rem;

    &__h1 {
      font-size: 9rem;
      letter-spacing: 0.9rem;
      text-shadow: -0.3rem 0.3rem black;
      margin-top: 14rem;
    }

    &__h2 {
      text-shadow: -0.15rem 0.15rem black;
      letter-spacing: 0.7rem;
      font-size: 3rem;
      margin-top: 1rem;
    }

    &__image {
      z-index: -1;
    }

    #saturn-1 {
      display: flex;
      width: 20%;
      z-index: -2;
      position: relative;
      top: 3rem;
      right: 35rem;
    }

    #comet {
      display: none;
      position: static;
      width: 45%;
    }

    #big-planet {
      position: relative;
      bottom: 24rem;
      left: 33rem;
      width: 45%;
    }
  }
}
