@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&family=Comfortaa:wght@700&family=Oxanium:wght@700&family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
}

body {
  background-image: url(space-imgs/space-background-fewer-stars.png);
  background-size: 100%;
  color: white;
  font-family: "Oxanium", "sans-serif";
}

.highlight {
  color: #11e9c9;
}

h2 {
  font-family: "Unica One", "sans-serif";
  text-shadow: -0.2vw 0.2vw black;
  letter-spacing: 0.8vw;
  font-size: 3rem;
  margin-bottom: 2vw;
}

h3 {
  font-family: "Unica One", "sans-serif";
  text-shadow: -0.1vw 0.1vw black;
  letter-spacing: 0.6vw;
}

.pContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p {
  background-color: 0d2330;
  font-size: 1.4rem;
  padding-top: 0;
  width: 45%;
  margin-bottom: 2vw;
  text-align: justify;
}

.titleP {
  text-align: left;
}

.endP {
  margin-bottom: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.landing {
  font-family: "Unica One", "sans-serif";
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.landing__h1 {
  font-size: 6rem;
  letter-spacing: 0.3rem;
  text-shadow: -0.08rem 0.08rem black;
  margin-top: 9rem;
}
.landing__image {
  z-index: -1;
}
.landing #saturn-1 {
  display: none;
}
.landing #comet {
  position: relative;
  bottom: 12rem;
  left: 0.5rem;
  width: 95%;
}
.landing #big-planet {
  position: relative;
  bottom: 2rem;
  left: 10rem;
  width: 80%;
}

@media screen and (min-device-width: 1024px) {
  .landing {
    height: 100%;
    align-items: center;
    margin-bottom: 5%;
  }
  .landing__h1 {
    font-size: 9rem;
    letter-spacing: 0.9vw;
    text-shadow: -0.3rem 0.3rem black;
    margin-top: 15%;
  }
  .landing__h2 {
    margin-top: 2vw;
  }
  .landing #saturn-1 {
    display: inline;
    width: 20%;
    z-index: -2;
    position: absolute;
    top: 70%;
    left: 1%;
  }
  .landing #comet {
    display: none;
    position: static;
    width: 45%;
  }
  .landing #big-planet {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 35%;
  }
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__p {
  text-align: justify;
  font-size: 0.7rem;
  width: 70%;
  padding-top: 1rem;
}
.about #blue-planet {
  position: relative;
  width: 15rem;
  right: 7rem;
  top: 1rem;
}

@media screen and (min-device-width: 1024px) {
  .about__p {
    font-size: 1.4rem;
    padding-top: 0;
    width: 45%;
    margin-bottom: 2vw;
  }
  .about #blue-planet {
    display: none;
  }
}
.techStack {
  margin-top: 2rem;
}
.techStack__container {
  display: flex;
  width: 100%;
  font-size: 3.125rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.techStack__icon {
  display: flex !important;
  min-width: 6rem;
  justify-content: center;
  color: white;
  align-items: center;
  margin: 0 1rem;
}
.techStack #blue-planet {
  display: none;
}
.techStack #saturn-1 {
  position: relative;
  width: 15rem;
  left: 7rem;
  z-index: -1;
}

@media screen and (min-device-width: 1024px) {
  .techStack {
    margin-top: 10%;
  }
  .techStack__container {
    width: 50%;
    font-size: 4.5rem;
    margin-bottom: 2vw;
  }
  .techStack__icon {
    min-width: auto;
    height: 72px;
    color: white;
    margin: 0 auto;
  }
  .techStack i:hover,
.techStack img:hover {
    transition: 0.2s;
  }
  .techStack #HTML:hover {
    color: #f06529;
  }
  .techStack #CSS:hover {
    color: #2965f1;
  }
  .techStack #JavaScript:hover {
    color: #f7e018;
  }
  .techStack #Sass:hover {
    color: #cf649a;
  }
  .techStack #React:hover {
    color: #5dd0f0;
  }
  .techStack #Java:hover {
    color: #ed8b00;
  }
  .techStack #Spring:hover {
    filter: brightness(0) saturate(100%) invert(62%) sepia(70%) saturate(395%) hue-rotate(53deg) brightness(88%) contrast(86%);
  }
  .techStack #mySQL:hover {
    filter: brightness(0) saturate(100%) invert(39%) sepia(88%) saturate(412%) hue-rotate(143deg) brightness(93%) contrast(103%);
  }
  .techStack #gcp:hover {
    filter: brightness(0) saturate(100%) invert(28%) sepia(80%) saturate(2174%) hue-rotate(-15deg) brightness(99%) contrast(86%);
  }
  .techStack #aws:hover {
    filter: brightness(0) saturate(100%) invert(52%) sepia(88%) saturate(1470%) hue-rotate(3deg) brightness(109%) contrast(102%);
  }
  .techStack #postgresql:hover {
    filter: brightness(0) saturate(100%) invert(39%) sepia(88%) saturate(412%) hue-rotate(143deg) brightness(93%) contrast(103%);
  }
  .techStack #blue-planet {
    display: inline;
    position: absolute;
    top: 209%;
    left: 1%;
    width: 20%;
    z-index: -1;
  }
  .techStack #saturn-1 {
    display: none;
  }
}
@media screen and (min-device-width: 1024px) {
  .work {
    margin-top: 10%;
  }
  .work__container {
    margin: 0 auto;
    width: 45%;
  }
  .work__titleContainer {
    display: flex;
    margin-bottom: 1vw;
    width: fit-content;
    font-size: 2rem;
    align-items: center;
  }
  .work__titleContainer i {
    padding-left: 1vw;
    font-size: 1.8rem;
    text-shadow: -0.1vw 0.1vw black;
  }
  .work__titleContainer:hover {
    color: #11e9c9;
    transition: 0.2s;
  }
}
.contact {
  margin-top: 10%;
  margin-bottom: 1vw;
}
.contact__icon {
  color: white;
  margin: 0 1.2vw;
  font-size: 3.125rem;
}
.contact__icon:hover {
  color: #11e9c9;
  transition: 0.2s;
}