@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&family=Comfortaa:wght@700&family=Oxanium:wght@700&family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
}

body {
  background-image: url(space-imgs/space-background-fewer-stars.png);
  background-size: 100%;
  color: white;
  font-family: "Oxanium", "sans-serif";
}

.highlight {
  color: #11e9c9;
}

h2 {
  font-family: "Unica One", "sans-serif";
  text-shadow: -0.2vw 0.2vw black;
  letter-spacing: 0.8vw;
  font-size: 3rem;
  margin-bottom: 2vw;
}

p {
  background-color: 0d2330;
}

a:link,
a:visited {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.landing {
  font-family: "Unica One", "sans-serif";
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.landing__h1 {
  font-size: 6rem;
  letter-spacing: 0.3rem;
  text-shadow: -0.08rem 0.08rem black;
  margin-top: 9rem;
}
.landing__image {
  z-index: -1;
}
.landing #saturn-1 {
  display: none;
}
.landing #comet {
  position: relative;
  bottom: 12rem;
  left: 0.5rem;
  width: 95%;
}
.landing #big-planet {
  position: relative;
  bottom: 2rem;
  left: 10rem;
  width: 80%;
}

@media screen and (min-device-width: 1024px) {
  .landing {
    height: 100%;
    align-items: center;
    margin-bottom: 5%;
  }
  .landing__h1 {
    font-size: 9rem;
    letter-spacing: 0.9vw;
    text-shadow: -0.3rem 0.3rem black;
    margin-top: 15%;
  }
  .landing__h2 {
    margin-top: 2vw;
  }
  .landing #saturn-1 {
    display: flex;
    width: 20%;
    z-index: -2;
    position: absolute;
    top: 70%;
    left: 1%;
  }
  .landing #comet {
    display: none;
    position: static;
    width: 45%;
  }
  .landing #big-planet {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 35%;
  }
}
.about {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__p {
  text-align: justify;
  font-size: 0.7rem;
  width: 70%;
  padding-top: 1rem;
}
.about #blue-planet {
  position: relative;
  width: 15rem;
  right: 7rem;
  top: 1rem;
}

@media screen and (min-device-width: 1024px) {
  .about__container {
    justify-content: space-around;
    align-items: center;
  }
  .about__p {
    position: relative;
    font-size: 1.4rem;
    padding-top: 0;
    width: 45%;
    margin-bottom: 2vw;
  }
  .about #blue-planet {
    display: none;
  }
}
.techStack {
  margin-top: 2rem;
}
.techStack__container {
  display: flex;
  width: 100%;
  font-size: 3.125rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.techStack__icon {
  display: flex !important;
  min-width: 6rem;
  justify-content: center;
  color: white;
  align-items: center;
  margin: 0 1rem;
}
.techStack #blue-planet {
  display: none;
}
.techStack #saturn-1 {
  position: relative;
  width: 15rem;
  left: 7rem;
  z-index: -1;
}

@media screen and (min-device-width: 1024px) {
  .techStack {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .techStack__container {
    width: 50%;
    font-size: 4.5rem;
    margin-bottom: 2vw;
  }
  .techStack__icon {
    min-width: auto;
    height: 72px;
    color: white;
    margin: 0 auto;
  }
  .techStack i:hover,
.techStack img:hover {
    transition: 0.2s;
  }
  .techStack #HTML:hover {
    color: #f06529;
  }
  .techStack #CSS:hover {
    color: #2965f1;
  }
  .techStack #JavaScript:hover {
    color: #f7e018;
  }
  .techStack #Sass:hover {
    color: #cf649a;
  }
  .techStack #React:hover {
    color: #5dd0f0;
  }
  .techStack #Java:hover {
    color: #ed8b00;
  }
  .techStack #Spring:hover {
    filter: brightness(0) saturate(100%) invert(62%) sepia(70%) saturate(395%) hue-rotate(53deg) brightness(88%) contrast(86%);
  }
  .techStack #mySQL:hover {
    filter: brightness(0) saturate(100%) invert(31%) sepia(99%) saturate(687%) hue-rotate(152deg) brightness(93%) contrast(101%);
  }
  .techStack #blue-planet {
    display: flex;
    position: relative;
    bottom: 10rem;
    width: 28rem;
    z-index: -1;
  }
  .techStack #saturn-1 {
    display: none;
  }
}
.work {
  display: flex;
  flex-direction: column;
}
.work__project {
  width: 60%;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto 1rem auto;
}
.work__image {
  position: relative;
  top: 5rem;
  left: 0.5rem;
  width: 95%;
  z-index: -1;
  margin-top: -5rem;
}

@media screen and (min-device-width: 1024px) {
  .work {
    display: flex;
    flex-direction: column;
  }
  .work__project {
    width: 60%;
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto 1rem auto;
  }
  .work__image {
    position: relative;
    top: 5rem;
    left: 0.5rem;
    width: 95%;
    z-index: -1;
    margin-top: -5rem;
  }
}
.contact {
  margin-bottom: 1rem;
}
.contact__h2 {
  margin: 1rem 0;
}
.contact__icon {
  color: white;
  margin: 0 1.2rem;
  font-size: 3.125rem;
}
.contact__icon:hover {
  color: #11e9c9;
  transition: 0.2s;
}