.techStack {
  margin-top: 2rem;

  &__h2 {
    text-align: center;
    font-family: $font-display;
    letter-spacing: 0.3rem;
    text-shadow: -0.04rem 0.04rem black;
  }

  &__container {
    display: flex;
    width: 100%;
    font-size: 3.125rem;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0 auto;
    padding-bottom: 1rem;
  }

  &__icon {
    display: flex !important;
    min-width: 6rem;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 0 1rem;
  }

  #HTML:hover {
    color: rgb(240, 101, 41);
    transition: 0.2s;
  }

  #CSS:hover {
    color: rgb(41, 101, 241);
    transition: 0.2s;
  }

  #JavaScript:hover {
    color: rgb(247, 224, 24);
    transition: 0.2s;
  }

  #Sass:hover {
    color: rgb(207, 100, 154);
    transition: 0.2s;
  }

  #React:hover {
    color: rgb(93, 208, 240);
    transition: 0.2s;
  }

  #Java:hover {
    color: rgb(237, 139, 0);
    transition: 0.2s;
  }

  #blue-planet {
    display: none;
  }

  #saturn-1 {
    position: relative;
    width: 15rem;
    left: 7rem;
    z-index: -1;
  }
}

@media screen and (min-device-width: 1024px) {
  .techStack {
    margin-top: 10rem;
    margin-bottom: -10rem;

    &__h2 {
      text-shadow: -0.15rem 0.15rem black;
      letter-spacing: 0.7rem;
      font-size: 3rem;
    }

    &__container {
      width: 50%;
      margin-top: 32px;
      display: flex;
      font-size: 4.5rem;
      align-items: center;
      padding-bottom: 1rem;
    }

    &__icon {
      min-width: auto;
      height: 72px;
      color: white;
      margin: 0 auto;
    }

    #HTML:hover {
      color: rgb(240, 101, 41);
      transition: 0.2s;
    }

    #CSS:hover {
      color: rgb(41, 101, 241);
      transition: 0.2s;
    }

    #JavaScript:hover {
      color: rgb(247, 224, 24);
      transition: 0.2s;
    }

    #Sass:hover {
      color: rgb(207, 100, 154);
      transition: 0.2s;
    }

    #React:hover {
      color: rgb(93, 208, 240);
      transition: 0.2s;
    }

    #Java:hover {
      color: rgb(237, 139, 0);
      transition: 0.2s;
    }

    #Spring:hover {
      filter: brightness(0) saturate(100%) invert(62%) sepia(70%) saturate(395%)
        hue-rotate(53deg) brightness(88%) contrast(86%);
      transition: 0.2s;
    }

    #mySQL:hover {
      filter: brightness(0) saturate(100%) invert(22%) sepia(36%) saturate(6165%)
        hue-rotate(175deg) brightness(95%) contrast(101%);
      transition: 0.2s;
    }

    #blue-planet {
      display: flex;
      position: relative;
      bottom: 10rem;
      width: 28rem;
      z-index: -1;
    }

    #saturn-1 {
      display: none;
    }
  }
}
