.techStack {
  margin-top: 2rem;

  &__container {
    display: flex;
    width: 100%;
    font-size: 3.125rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__icon {
    display: flex !important;
    min-width: 6rem;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 0 1rem;
  }

  #blue-planet {
    display: none;
  }

  #saturn-1 {
    position: relative;
    width: 15rem;
    left: 7rem;
    z-index: -1;
  }
}

@media screen and (min-device-width: 1024px) {
  .techStack {
    margin-top: 10%;

    &__container {
      width: 50%;
      font-size: 4.5rem;
      margin-bottom: 2vw;
    }

    &__icon {
      min-width: auto;
      height: 72px;
      color: white;
      margin: 0 auto;
    }

    i:hover,
    img:hover {
      transition: 0.2s;
    }

    #HTML:hover {
      color: rgb(240, 101, 41);
    }

    #CSS:hover {
      color: rgb(41, 101, 241);
    }

    #JavaScript:hover {
      color: rgb(247, 224, 24);
    }

    #Sass:hover {
      color: rgb(207, 100, 154);
    }

    #React:hover {
      color: rgb(93, 208, 240);
    }

    #Java:hover {
      color: rgb(237, 139, 0);
    }

    #Spring:hover {
      filter: brightness(0) saturate(100%) invert(62%) sepia(70%) saturate(395%) hue-rotate(53deg)
        brightness(88%) contrast(86%);
    }

    #mySQL:hover {
      filter: brightness(0) saturate(100%) invert(39%) sepia(88%) saturate(412%) hue-rotate(143deg)
        brightness(93%) contrast(103%);
    }

    #gcp:hover {
      filter: brightness(0) saturate(100%) invert(28%) sepia(80%) saturate(2174%) hue-rotate(-15deg)
        brightness(99%) contrast(86%);
    }

    #aws:hover {
      filter: brightness(0) saturate(100%) invert(52%) sepia(88%) saturate(1470%) hue-rotate(3deg)
        brightness(109%) contrast(102%);
    }

    #postgresql:hover {
      filter: brightness(0) saturate(100%) invert(39%) sepia(88%) saturate(412%) hue-rotate(143deg)
        brightness(93%) contrast(103%);
    }

    #blue-planet {
      display: inline;
      position: absolute;
      top: 209%;
      left: 1%;
      width: 20%;
      z-index: -1;
    }

    #saturn-1 {
      display: none;
    }
  }
}
