.work {
  // display: flex;
  // flex-direction: column;
}

@media screen and (min-device-width: 1024px) {
  .work {
    margin-top: 10%;

    &__container {
      margin: 0 auto;
      width: 45%;
    }

    &__titleContainer {
      display: flex;
      margin-bottom: 1vw;
      width: fit-content;
      font-size: 2rem;
      align-items: center;

      i {
        padding-left: 1vw;
        font-size: 1.8rem;
      }
    }
    &__titleContainer:hover {
      color: $color-highlight;
      transition: 0.2s;
    }
  }
}
